*
{
    font-family: 'Times New Roman';
}
body{
    margin: 0;
    background-color: white !important;
    overflow-wrap: break-word;
    overflow-x: hidden !important;
}
.container a{
    color: #174971;
    text-decoration: none;
}
.section-padding{
    padding: 80px 0;
}
.navbar{
   
  background-color: white !important;
}
.navbar .navbar-brand{
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
    text-transform: uppercase;
    font-weight: bolder;
  }
.navbar-nav a{
   
    margin-top: 10px;
    margin-bottom: 10px;
    color:#666;
    font-size: 12.5px;
   word-wrap: normal;
   

}
.navbar-toggler{
 font-size: 12px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: black;
}
.nav-item a:hover{
  
    color: black !important;
   
}
.nav-items i{
    background-color:rgb(11, 10, 10);
border-radius: 50%;
border: 1px solid rgb(125, 116, 116);
font-size: 13.7px;
width: 29px;
height: 25px;
padding-bottom: 20px !important;
padding-top: 5px;
padding-left: 8px;

}
.nav-items i:hover{
    font-size: 14.7px;
padding-top: 5px;
     border: none;
    background-color:rgb(0, 179, 255) !important;
}
.navbar-light .navbar-nav .navbar-link{
    color: black;
}


.w-100{
    height: 100vh;
}
.service .card-body i{
    font-size: 50px;
}
.team .card-body{
    font-size: 20px;

}


@media only screen and (max-width:767px){
    .cerificate{
    
        display: flex;
        justify-content: space-around;
        overflow-x: auto;
        overflow-y: hidden;
    
    }
    .cerificate::-webkit-scrollbar-button
    {
        width: 0;
    }
    .cerificate .factory-certify{
        min-width: 110px;
        height: 300px;
        line-height: 60px;
        text-align: center;
    
    }
}
.hline{
    width: 70px;
    height: 4px;
    border-radius: 15px;
    background-color: rgb(80, 131, 9);
    margin: 16px auto 0 auto;
}
   

#infrastructure .card a{
text-decoration: none; 
    color: rgb(42, 95, 19);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
     top: 10%;
    left:25%;
}
.card-text{
    color:black;
    font-size: 10px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 5%;
}
#footer {
    

    height: 20px;
    width: 100%;
    color: #555555;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    padding: 0;
    padding-top: -10px;
    margin-bottom: 20px;
    position: relative;
    font-weight: bold;
    
}
#footer .com-links{
    position: relative;
    margin-left: -10px ;
    justify-content: flex-start;
}
#footer .copyright{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-left: 20px;
   
}

#footer a{
    text-decoration: none;
    padding: 10px;
    color: #555555;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    position: relative;
    font-weight: bold;
  
}
.banner{
    position: relative;
    text-align: center;
    color:white;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/iStock-1308102356.jpg);
    background-repeat: no-repeat;          
    background-size:100% 100%;
    padding: 100px;
 
}
.wedo li a{
    text-decoration: none;
    color: #555555;
  

}
.wedo ul{
    list-style-type: none;
}
.wedo li a:hover{
    color:rgb(20, 185, 29);
}
.card  h5 a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    
}
.content .card{
    background-image:linear-gradient(rgba(70, 66, 66, 0.5),rgba(61, 58, 58, 0.5)), url(images/2.jpg);
  
}
/*product*/
.collections .card h5 a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.bullet {
    list-style-image: url(images/bullet.jpg);
    padding-left: 15px;
    font-size: 1.0em;
    color: #666;
    font-family: "Times New Roman", Times, serif;
    line-height: 45px;
    cursor: pointer;
    text-align: justify
}
.bullet:hover{
    list-style-image: url(images/bullet1.jpg);
    color: #000;
}

#input {
    width: 200px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 3px #cccccc;
}
.catogeries #listing_single li{
    margin-right: 10px;
    margin-left: 10px;

}
.gallery img:hover{
    filter: grayscale(100%);
    transform: scale(1.1);
}


@media only screen and (max-width:450px) and (min-width: 300px){
    .row{
        margin: 0 !important;
    }
    .coll-md-4{
        flex: 0;
        width: 100%;
    }
    .coll-md-6{
        flex: 0;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
    }
       
    .carousel-caption h3{
        margin-left: -250px !important;
        font-size: 15px;
     
    }
    .about-img{
        margin-bottom: 20px;
    } .about-img img{
        width: 330px 
        !important;
        height: 150px !important;
    }.banner{
        position: relative;
        text-align: center;
        color:white;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/iStock-1308102356.jpg);
        background-repeat: no-repeat;          
        background-size:100% 100%;
        padding: 100px;
     
    }.section-header{
        padding-right: 30px;
    }
    .map img{
        width: 400px;
        height: 150px;
    }
    .section-padding{
        padding-top:-50px !important;
    }

}
@media only screen and (max-width:550px) and (min-width: 350px){
    .coll-md-4{
        flex: 0;
        width: 100%;
    }
    .coll-md-6{
        flex: 0;
        width: 100%;
    }
    .carousel-item img{
        max-height: 40vh !important;
        background-size: contain;
        padding-top: 100px;
    }
       
    .carousel-caption h3{
        margin-left: -250px !important;
        font-size: 15px;
     
    }  .about-img{
        margin-bottom: 20px;
    } .about-img img{
        width: 330px 
        !important;
        height: 120px !important;
    }.banner{
        position: relative;
        text-align: center;
        color:white;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/iStock-1308102356.jpg);
        background-repeat: no-repeat;          
        background-size:100% 100%;
        padding: 100px;
     
    }.section-header{
        padding-right: 30px;
    }
    .card-img-overlay h6{
        margin-left: 40px;
            }
            #input {
                width: 150px !important;
                padding: 8px;
                border-radius: 2px;
                border: 1px solid #CCC;
                box-shadow: 0px 0px 3px #cccccc
            }
            .map img{ margin-left: 70px;
                width: 300px;
                height: 150px;
            }
.map{
    margin: 0 !important;
    width: 100%;
    margin-left: -80px !important;
}
.section-padding{
    padding: 0 !important;
}

}

@media only screen and (max-width:767px) and (min-width: 300px){
    .navbar-nav{
        text-align: center;
    }
    .navbar-toggler{
        margin-right: 100px;
    }
    .about-text{
        padding-top: 50px;

    }
    .carousel{
        max-width: 100%;
    }
    .card{
        margin-bottom: 30px;

    }
    .carousel-caption{
        margin-left: 100px;
        word-wrap: break-word 
        !important;
    }
    .card-img-overlay{
margin-right: 300px;
    }
    
}
@media only screen and (max-width:767px) and (min-width: 550px){
    .coll-md-4{
        flex: 0;
        width: 100%;
    }
    .coll-md-6{
        flex: 0;
        width: 100%;
    }
       
    .carousel-caption h3{
        margin-left: -200px !important;
        font-size: 20px;
     
    }  .about-img{
        margin-bottom: 20px;
    }
    .card-img-overlay{
        margin-right: 500px;
            }
    .banner{
        position: relative;
        text-align: center;
        color:white;
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/iStock-1308102356.jpg);
        background-repeat: no-repeat;          
        background-size:100% 100%;
        padding: 100px;
     
    }
    .carousel-item img{
        max-height: 40vh !important;
        background-size: contain;
        padding-top: 100px;
    }
   
   .about-img img{
        width: 450px 
        !important;
        height: 220px !important;
    }
}

@media only screen and (max-width:998px) and (min-width: 767px){
    
    .carousel-caption h3{
        margin-left: -200px !important;
        font-size: 20px;
     
    }
    .carousel-item img{
        max-height: 60vh !important;
        background-size: contain;
        padding-top: 100px;
    }
    .card-img-overlay{
        margin-right: 500px;
            }
            .card{
                margin-bottom: 20px;
            }
            .banner{
                position: relative;
                text-align: center;
                color:white;
                background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/iStock-1308102356.jpg);
                background-repeat: no-repeat;          
                background-size:100% 100%;
                padding: 100px;
             
            }
            .contact{
                float: none;
                padding-right: 200px;
            }
            .coll-md-4{
                flex: 0;
                width: 100%;
            }
            #input {
                width: 100px;
                padding: 8px;
                border-radius: 2px;
                border: 1px solid #CCC;
                box-shadow: 0px 0px 3px #cccccc;
            }
            .coll-md-6{
                flex: 0;
                width: 100%;
            }
            .img-area{
                padding-left: 80px;
            }
            .about-img{
                margin-bottom: 20px;
            } .about-img img{
                width: 400px 
                !important;
                height:300px !important;
            }
            .infra{
                margin-left: 180px;
            }
             }
           
@media only screen and (max-width:1200px) and (min-width: 998px){
    .coll-md-4{
        flex: 0;
        width: 50%;
    }
    .coll-md-6{
        flex: 0;
        width: 100%;
    }
    .card{
        margin-left: 20px !important;
    }
    .about-img img{
        width: 450px 
        !important;
        height:320px !important;
    }
    .carousel-item img{
        max-height: 80vh !important;
        background-size: contain;
        padding-top: 100px;
    }
    .col-md-6 {
        flex: 0 0 auto;
        width: 100% !important;
    }
  .map{
    margin-left: -20px !important;
  }
    }
.infra img{
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    height: 180px;
}
.card-img-overlay h6{
    margin-left: 20px;
        }

/*Services*/

@media only screen and (max-width:767px){
    .navbar-light .navbar-toggle{
        margin-right: 50px;
    }
    .service img{
        width: 75% !important;
            }
}