*
{
    font-family: 'Times New Roman';
}
body{
    margin: 0;
    background-color: white !important;
    overflow-wrap: break-word;
}
.container a{
    color: #174971;
    text-decoration: none;
}
.section-padding{
    padding: 80px 0;
}
.navbar{
   
  background-color: white !important;
}
.navbar .navbar-brand{
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.navbar-nav > li{
    margin-left:10px;
    margin-right:10px;
    text-transform: uppercase;
    font-weight: bolder;
  }
.navbar-nav a{
   
    margin-top: 10px;
    margin-bottom: 10px;
    color:#666;
    font-size: 12.5px;
   word-wrap: normal;
   

}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover{
    color: black;
}
.nav-item a:hover{
  
    color: black !important;
   
}
.nav-items i{
    background-color:rgb(11, 10, 10);
border-radius: 50%;
border: 1px solid rgb(125, 116, 116);
font-size: 13.7px;
width: 29px;
height: 25px;
padding-bottom: 20px !important;
padding-top: 5px;
padding-left: 8px;

}
.nav-items i:hover{
    font-size: 14.7px;
padding-top: 5px;
     border: none;
    background-color:rgb(0, 179, 255) !important;
}
.navbar-light .navbar-nav .navbar-link{
    color: black;
}


.w-100{
    height: 100vh;
}
.service .card-body i{
    font-size: 50px;
}
.team .card-body{
    font-size: 20px;

}

@media only screen and (max-width:767px){
    .cerificate{
    
        display: flex;
        justify-content: space-around;
        overflow-x: auto;
        overflow-y: hidden;
    
    }
    .cerificate::-webkit-scrollbar-button
    {
        width: 0;
    }
    .cerificate .factory-certify{
        min-width: 110px;
        height: 300px;
        line-height: 60px;
        text-align: center;
    
    }
}
.hline{
    width: 70px;
    height: 4px;
    border-radius: 15px;
    background-color: rgb(80, 131, 9);
    margin: 16px auto 0 auto;
}
   

#infrastructure .card a{
text-decoration: none; 
    color: rgb(42, 95, 19);
    font-size: 20px;
    position: absolute;
    overflow: hidden;
     top: 10%;
    left:25%;
}
.card-text{
    color:black;
    font-size: 10px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 10%;
}
#footer {
    

    height: 20px;
    width: 100%;
    color: #555555;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    padding: 0;
    padding-top: -10px;
    margin-bottom: 20px;
    position: relative;
    font-weight: bold;
    
}
#footer .com-links{
    position: relative;
    margin-left: -10px ;
    justify-content: flex-start;
}
#footer .copyright{
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding: 0px;
    margin-left: 20px;
   
}

#footer a{
    text-decoration: none;
    padding: 10px;
    color: #555555;
    font-family: "Times New Roman", Times, serif;
    font-size: 13px;
    position: relative;
    font-weight: bold;
  
}

@media only screen and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .navbar-toggler{
        margin-right: 20px;
    }
    .about-text{
        padding-top: 50px;

    }
    .carousel{
        max-width: 100%;
    }
    .card{
        margin-bottom: 30px;

    }
}
/*Services*/
.banner{
    position: relative;
    text-align: center;
    color:white;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/iStock-1308102356.jpg);
    background-repeat: no-repeat;          
    background-size:100% 100%;
    padding: 100px;
 
}
.wedo li a{
    text-decoration: none;
    color: #555555;
  

}
.wedo ul{
    list-style-type: none;
}
.wedo li a:hover{
    color:rgb(20, 185, 29);
}
.card  h5 a{
    text-decoration: none;
color: white;
font-family: 'Times New Roman', Times, serif;
text-transform: uppercase;
    
}
.content .card{
    background-image:linear-gradient(rgba(70, 66, 66, 0.5),rgba(61, 58, 58, 0.5)), url(images/2.jpg);
  
}
/*product*/
.collections .card h5 a{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 40px;
    text-transform: uppercase;
    font-weight: bold;
}
.link li a{
    text-decoration: none;
    color: #555555;
    
}
.link ul{
    list-style-type: none;
}
.link li a:hover{
    color:rgb(20, 185, 29);
}
#input {
    width: 200px;
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #CCC;
    box-shadow: 0px 0px 3px #cccccc;
}
.catogeries #listing_single li{
    margin-right: 10px;
    margin-left: 10px;
}
.catogeries li:hover{
  color:rgba(217,126,81,255) ;
}